.footer {
	bottom: 0px;
	padding-top: 3px;
	padding-bottom: 50px;
	border-top-width: 1px;
	border-top-style: solid;
	text-align: center;
}

.googleCrap {
	font-size: .6em;
	color: #999;
	padding-top: 40px;
}