.footer {
	margin-top: 40px;
	bottom: 0px;
	padding-top: 30px;
	padding-bottom: 50px;
	border-top-width: 1px;
	border-top-style: solid;
	text-align: center;
}

.finePrint {
	border-top: 1px solid #ccc;
	padding-top: 3px;
	font-size: .8em;
	margin-top: 40px;
	color: #999;
}

.googleCrap {
	font-size: .8em;
	color: #999;
	padding-top: 40px;
}