.letterList {
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

.letterBoxContainer {
	overflow: hidden;
	background-color: #fff;
	border-width: 1px;
	border-style: solid;

	.letterBox {
		width: 200px;
		height: 200px;
		padding: 10px;
		overflow: auto;
		background-color: #fff;
		border-width: 1px;
		border-style: solid;

		.letter {
			font-weight: bold;
			position: sticky;
			top: -15px;
			background-color: #fff;
			border-bottom-style: solid;
			border-bottom-width: 1px;

			
		}
	}
}

.animal {
	// display: inline-block;
	// border-top: 1px solid #000;

	a {
		display: inline-block;
		width: 100%;
		padding: 2px;
		margin-bottom: 2px;
	}
	:hover {
		background-color: var(--chakra-colors-color-palette-muted);
	}
}
