.navigation {
	text-align: right;
	justify-content: flex-end;
	height: 100%;

	li {
		padding: 0px 15px;
		align-self: center;

		div[data-part='item'] {
			padding: 0px;

			a {
				width: 100%;
				padding: 5px 10px;
				outline: none;
				white-space: nowrap;
			}
		}
	}
}

.navLink {
	width: 100%;
	padding: 5px 10px;
	outline: none;
	white-space: nowrap;
}

.mobileNav {
	width: 80vw;
	border-width: 1px;
	border-style: solid;

	div[data-scope='menu'] {
		margin: 0px;
		padding: 0px;
	}
	a {
		width: 100%;
		padding: 10px 15px;
		outline: none;
	}
}

.chevron {
  display: inline-flex;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}


/* when the accordion item is open */
button[data-part="item-trigger"][data-state="open"] .chevron {
  transform: rotate(180deg);
}
